<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="container">
        <div class="text-center text-light">
            <p class="mb-0">Copyright - <a href="https://github.com/mstermigol"
                    class="link-light">Miguel Jaramillo</a> - <a href="https://github.com/sergiocordobam"
                    class="link-light">Sergio Cordoba</a> 
        </div>
    </div>
</footer>